{% extends 'base.html' %}

{% block content %}

{% if error %}

{{ error }}

{% endif %}

<h1>Register for helping</h1>

<form method="POST" action="{% url 'create' %}" enctype="multipart/form-data" >
	{% csrf_token %}
	Name:
	<br />
	<input type="text" name="name" />
	<br />
	Description:
	<br />
	<input type="textbox" name="description" />
	<br />
	Needs:
	<br />
	<input type="textbox" name="needs" />
	<br />
	Image:
	<br />
	<input type="file" name="image" />
	<br />
	Location:
	<br />
	<input type="text" name="location" />
	<br />
	<br />
	<input class="btn btn-primary" type="submit" name="Submit"/>
</form>
{% endblock %}
